<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ElasticAddress" value="http://localhost:9200" />	
		<add key="StocksGeneralUrl" value="https://www.google.com/finance/info?q={StockName}" />
		<add key="WeatherGeneralUrl" value="http://api.openweathermap.org/data/2.5/weather?q={cityName}&amp;units=metric&amp;appid={API Key}" />		
		<add key="IntervalMs" value="60000" />	
	</appSettings>	
</configuration>


<!--eb549ba3f48d9c7d6f78c640ed8567bc>